/* this is the style sheet */

body {
	height: 100vh;	
	margin: 0;
	background-color: #250BE3;
	background: linear-gradient(to bottom, #0be391,#250be3);
}

.container{

	/* Flex Container Properties */
	height: 100vh;
	display:flex;
	justify-content: center;

}

.loginBox {

	/*login box minimum dimensions*/
	min-width: 500px;
	min-height: 400px;

	/*login box styles*/
	background-color: #ffffff;
	box-shadow: 0px 0px 30px;
	border-radius: 10px;

	/* Flex Item Properties */
	align-self: center;

	/* Flex Container Properties */
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;

}

h1 {
	/*heading text style*/
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	color: #000000;
	text-shadow: 2px 3px 2px #AAAAAA;

	/*flex item properties*/
	align-self: center;
}


button {
	/* button style */
	border-radius: 10px;
	border: none;
	background-color: #e30b5d;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 0px 3px 7px #000000;
	margin-bottom: 20px;

	/* button text style */
	color: #ffffff;
	text-align: center;
	font-family:'Raleway', sans-serif;
	font-size: 20px;
	font-weight: bold;

}

button:active {
	/*box-shadow: 0px 0px 0px #000000;*/
	transform: scale(0.95);

}

.form {
	/* Textbox Style */
	min-width: 170px;
	min-height: 42px;
	border-radius: 10px;
	border:1px solid #AAAAAA;
	outline: none;

	/* text style */
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

